@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #CCD6F6; 
  background-color: #0A192F; 

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0A192F;
}

a {
  font-weight: 500;
  color: #00F5FF;
  text-decoration: inherit;
  transition: color 0.3s;
}
a:hover {
  color: #28FF8E;
}